#container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#title-div {
}

#selector-button-div {
    margin: 50px;
}

.my-circle-button {
    position: relative;
    padding: 100px !important;
    background-color: green;
    border-radius: 100%;
    width: fit-content;
}

.my-circle-button > .gb-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    margin: 0 !important;
    background-color: transparent !important;
    font-size: 16px;
}

#selector-button {
    background-color: green;
    border: none;
    text-align: center;
    text-decoration: none;
    
}

#selector-options-div {
    height: 100px;
    font-size: 20px;
}

#problem-number-div {

}

#solved-buttons-div {

}

#solved-button {

}

#not-solved-button {

}



