#container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

#title-div {
}

#selector-button-div {
    margin: 50px;
}

#button-image {
    width: 300px;
}

#selector-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

#selector-options-div {
    height: 100px;
    font-size: 20px;
}

#problem-number-div {
    font-size: 50px;
}

#solved-buttons-div {
    
}

#solved-button, #not-solved-button {
    border-radius: 12px;
    padding: 14px 40px;
    margin: 20px;
}

#solved-button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

#not-solved-button:hover {
    background-color: #f44336; /* Green */
    color: white;
}



